* {
    font-family: 'PT Sans', sans-serif;
}

.spacer {
    min-height: 50px;
}

/* Lokasi */

.margin-top-up {
    margin-top: -2%;
}

.margin-top-down {
    margin-top: 4%;
}

.text-title {
    font-weight: 700;
    font-size: 38px;
    color: #000;
}

.text-content {
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.text-desc {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    line-height: 90%;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 35%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 90%;
    width: 100%;
    position: absolute;
}

.btn-search {
    border-radius: 10px;
    border: 1px solid #F53855;
    background-color: #F53855;
    color: #FFF;
    width: 100%;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
}

.btn-search:hover {
    border: 1px solid #F53855;
    background-color: #FFF;
    color: #F53855;
}

.caret-style {
    color: #005E4E;
}

.active {
    border: 1px solid #005E4E;
    background-color: #005E4E;
    color: #FFF;
}

.input-group-style {
    border-radius: 10px;
    height: 50px;
}

.dropdown-style {
    border-radius: 10px;
    border: 1px solid #005E4E;
    background-color: #FFF;
    color: #000;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    margin-top: 4%;
}

.dropdown-menu-style {
    border-radius: 10px;
    border: 1px solid #005E4E;
    background-color: #FFF;
    color: #000;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    margin-top: 4%;
}

.chat-style {
    position: fixed;
    bottom: 2%;
    right: 1%;
    cursor: pointer;
}

.chat-style:hover {
    transform: scale(1.1);
}

.form-control:focus {
    border-color: #005E4E;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 94, 78, 0.6);
}

.line {
    border: 1px solid #C4C4C4;
}

.line-label {
    border: 1px solid #C4C4C4;
    width: 100%;
}

.fa-chevron-circle-down {
    transition: all 0.2s ease;
}

.icon-style {
    color: #005E4E;
    background-color: #FFF;
}

.img-sort {
    margin-top: 40% !important;
}

.img-sort:hover {
    cursor: pointer;
}

.accordion-style.collapsed .fa-chevron-circle-down {
    transform: rotate(180deg);
}

.dropdown-label {
    display: flex;
    width: 118%;
    justify-content: space-between;
}

.label-hover:hover {
    cursor: pointer;
}

input[type='radio']:after {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #005E4E;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.card-style {
    background-color: #FFF;
    border: 5px solid #FFF;
    border-radius: 10px;
    /* padding: 4%; */
}

.card-style a {
    color: #1F1F1F;
}

.card-style:hover,
.card-style a:hover {
    text-decoration: none;
}

.scroll-lokasi {
    height: 390px;
    overflow-y: auto;
}

.margin-scroll-lokasi {
    margin: 10px 10px 10px 0px;
}

.scroll-lokasi::-webkit-scrollbar {
    width: 12px;
}

.scroll-lokasi::-webkit-scrollbar-track {
    background: #F2F2F2;
}

.scroll-lokasi::-webkit-scrollbar-thumb {
    background-color: #C2C2C2;
    border-radius: 10px;
    border: 2px solid #F2F2F2;
}

.panel-lokasi {
    background-color: #FFF;
    border: 1px solid #E5E7E9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(138, 149, 158, 0.2);
    padding: 0% 2%;
}

.panel-lokasi:hover,
.panel-lokasi a:hover {
    text-decoration: none;
}

.img-lokasi {
    border-radius: 15px;
}

.text-lokasi {
    font-weight: 700;
    font-size: 24px;
    color: #00806A;
}

.text-lokasi-sub {
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.img-profile {
    margin-top: 0%;
}

.text-title-profile {
    font-weight: 700;
    font-size: 18px;
    color: #00806A;
}

.text-profile {
    font-weight: 400;
    font-size: 14px;
    color: #585858;
}

.btn-detail {
    border-radius: 10px;
    border: 2px solid #005E4E;
    background-color: #FFF;
    color: #005E4E;
    width: 100%;
    margin: 20% 0%;
    font-weight: 700;
    font-size: 18px;
}

.btn-detail:hover {
    border: 2px solid #005E4E;
    background-color: #005E4E;
    color: #FFF;
}

#more {
    display: none;
}

/* Small Width */
@media only screen and (max-width: 768px) {
    .margin-top-jumbo {
        margin-top: 0%;
    }

    .margin-top-title {
        margin-top: 20px;
    }

    .chat-style {
        display: none;
    }

    .btn-style {
        font-weight: bold;
        font-size: 18px;
        border-radius: 10px;
        width: 80% !important;
        margin-top: 10px;
    }

    .img-sort {
        margin-top: 10%;
    }

    .margin-top-mobile {
        margin-top: 5%;
    }

    .btn-detail {
        margin: 5% 0%;
    }

}